html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn-reset {
    outline: none;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.site {
    overflow: hidden;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-Regular"), url(../fonts/OpenSans-Regular.woff2) format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-SemiBold"), url(../fonts/OpenSans-SemiBold.woff2) format(woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-Bold"), url(../fonts/OpenSans-Bold.woff2) format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1660px;
    margin: 0 auto;
    padding: 0 30px;
}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}


/* Переменные */

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-night-rider: #333;
    --color-amethyst: #9d5cd0;
    --color-vl-grey: #cacaca;
    --color-whisper: #ececec;
    --color-pink-swan: #b6b6b6;
    --color-studio: #7943a4;
    --color-nobel: #999;
    --color-wisteria: #c283f3;
    --color-dim-gray: #666;
    --color-mauve: #d1a9f0;
    --color-lime-green: #30bf39;
    --color-pink-sw: #b7b7b7;
    --color-dark-gray: #b0b0b0;
    --color-can-can: #d88f99;
    --color-whisp: #eaeaea;
    --color-harley-davidson-orange: #d11616;
    --color-nero: #161616;
    --color-unactive: #bbb;
}


/* header */

.header {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.header-top {
    background: var(--color-black);
    position: relative;
}

.header-top__container {
    align-items: center;
    padding: 29px 0 27px;
}

.burger {
    display: none;
}

.stop-scroll {
    overflow: hidden;
}

.header__logo {
    margin-right: 174px;
}

.header-top__menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header-top__nav {
    margin-right: auto;
}

.header-top__item:not(:last-child) {
    margin-right: 51px;
}

.header-top__link {
    padding: 3px 6px 4px 6px;
    color: var(--color-white);
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    transition: color 0.3s ease-in-out;
}

.header-top__link:focus-visible {
    outline: none;
    background-color: var(--color-studio);
}

.header-top__link:hover {
    color: var(--color-wisteria);
}

.header-top__link:active {
    color: var(--color-studio);
}

.header__icon {
    margin-right: 10px;
}

.header-top__btn {
    color: var(--color-white);
    padding: 5px;
    outline: none;
}

.header-top__btn:focus-visible {
    background-color: var(--color-studio);
}

.header-top__btn:hover {
    color: var(--color-wisteria);
    transition: color 0.3s ease-in-out;
}

.header-top__btn:hover svg path {
    fill: var(--color-wisteria);
    transition: fill 0.3s ease-in-out;
}

.header-top__btn:active {
    color: var(--color-studio);
}

.header-top__btn:active svg path {
    fill: var(--color-studio);
}

.header-top__btn-icon {
    display: none;
}

.header-search-close {
    display: none;
}

.header-search__close--active {
    display: block;
    z-index: 20;
}

.header-search {
    display: none;
    flex-wrap: nowrap;
    align-items: center;
}

.header-search--active {
    display: flex;
}

.header-bottom {
    background: rgba(0, 0, 0, 0.5);
}

.header-bottom__container {
    justify-content: space-between;
    align-items: center;
    padding: 23px 0 20px;
}

.header-bottom-nav__item {
    position: relative;
    outline: none;
}

.header-bottom-nav__item:not(:last-child) {
    margin-right: 95px;
}

.header-bottom-nav__btn {
    padding-right: 5px;
    outline: none;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    transition: color .3s ease-in-out;
}

.header-bottom-nav__svg svg {
    transform: rotate(180deg);
}

.header-bottom-nav__icon svg path {
    transition: stroke .3s ease-in-out;
}

.header-bottom-nav__btn:focus-visible {
    background-color: var(--color-studio);
}

.header-bottom-nav__btn:hover {
    color: var(--color-wisteria);
}

.header-bottom-nav__btn:hover svg path {
    stroke: var(--color-wisteria);
    transition: stroke .3s ease-in-out;
}

.header-dropdown {
    position: absolute;
    visibility: hidden;
    top: 43px;
    display: block;
    padding: 40px 20px 40px 40px;
    background: rgba(0, 0, 0, 0.5);
}

.header-dropdown__container--visible {
    visibility: visible;
}

.header-dropdown__list {
    min-width: 240px;
    max-height: 250px;
    overflow: auto;
}

.header-dropdown__item {
    width: 240px;
    height: 40px;
}

.header-dropdown__item:not(:last-child) {
    margin-bottom: 30px;
}

.header-dropdown__link {
    max-width: 220px;
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-white);
    height: 100%;
    padding: 10px 0 11px 14px;
}

.simplebar-track.simplebar-vertical {
    width: 2px;
    background-color: var(--color-black);
    opacity: 0;
}

.header-dropdown__container--visible .simplebar-track.simplebar-vertical {
    opacity: 1;
}

.simplebar-scrollbar {
    width: 2px;
    background-color: var(--color-white);
}

.header-dropdown__link_img1 {
    background-image: url(../img/drop-down-img1.jpg);
}

.header-dropdown__link_img2 {
    background-image: url(../img/drop-down-img2.jpg);
}

.header-dropdown__link_img3 {
    background-image: url(../img/drop-down-img3.jpg);
}

.header-dropdown__link_img4 {
    background-image: url(../img/drop-down-img4.jpg);
}

.header-dropdown__link_img5 {
    background-image: url(../img/drop-down-img5.jpg);
}

.header-dropdown__link_img6 {
    background-image: url(../img/drop-down-img6.jpg);
}

.header-dropdown__link_img7 {
    background-image: url(../img/drop-down-img7.jpg);
}

.header-dropdown__link_img8 {
    background-image: url(../img/drop-down-img8.jpg);
}

.header-dropdown__link_img9 {
    background-image: url(../img/drop-down-img9.jpg);
}

.header-dropdown__link_img10 {
    background-image: url(../img/drop-down-img10.jpg);
}

.header-dropdown__link_img11 {
    background-image: url(../img/drop-down-img11.jpg);
}

.header-dropdown__link_img12 {
    background-image: url(../img/drop-down-img12.jpg);
}

.header-dropdown__link_img13 {
    background-image: url(../img/drop-down-img13.jpg);
}

.header-dropdown__link_img14 {
    background-image: url(../img/drop-down-img14.jpg);
}

.header-dropdown__link_img15 {
    background-image: url(../img/drop-down-img15.jpg);
}

.header-dropdown__link_img16 {
    background-image: url(../img/drop-down-img16.jpg);
}

.header-dropdown__link_img17 {
    background-image: url(../img/drop-down-img17.jpg);
}

.header-dropdown__link_img18 {
    background-image: url(../img/drop-down-img18.jpg);
}

.header-dropdown__link_img19 {
    background-image: url(../img/drop-down-img19.jpg);
}

.header-dropdown__link_img20 {
    background-image: url(../img/drop-down-img20.jpg);
}

.header-bottom-search {
    align-items: center;
}

.header-bottom-search__label {
    justify-content: space-between;
    width: 219px;
}

.header-bottom-search__btn {
    margin-right: 9px;
}

.header-bottom-search__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    line-height: 25px;
    background: transparent;
    cursor: pointer;
    transition: border-color .3s ease-in-out;
    outline: none;
}

.header-bottom-search__input:hover {
    border-color: var(--color-wisteria);
}

.header-bottom-search__input::placeholder {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    line-height: 1;
}

.header-bottom-search--active {
    display: flex;
}


/* hero */

.hero {
    padding-top: 170px;
    min-height: 800px;
    color: var(--color-white);
}

.hero__container {
    padding-top: 67px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.swiper-container {
    position: relative;
    overflow: hidden;
}

.hero-swiper-container {
    width: 100%;
}

.hero-swiper-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.hero-swiper-slade {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-swiper-slide-1 {
    background-image: url(../img/hero-swiper-img1.jpg);
}

.hero-swiper-slide-2 {
    background-image: url(../img/hero-swiper-img2.jpg);
}

.hero-swiper-slide-3 {
    background-image: url(../img/hero-swiper-img3.jpg );
}

.hero__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 95px;
    max-width: 597px;
}

.hero__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    max-width: 579px;
    margin-bottom: 116px;
}

.hero__link {
    padding: 25px 40px;
    background-color: var(--color-amethyst);
    font-weight: 700;
    font-size: 18px;
    border-radius: 100px;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    outline: none;
}

.hero__link:focus-visible {
    outline: 3px solid var(--color-wisteria);
    outline-offset: 5px;
}

.hero__link:hover {
    border: 3px solid var(--color-mauve);
}

.hero__link:active {
    background: #7943A4;
    border: 3px solid #D1A9F0;
}


/* about */

.about__container {
    padding-top: 88px;
    padding-bottom: 68px;
}

.about__title {
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 400;
    color: var(--color-night-rider);
}

.about__text {
    max-width: 1080px;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-night-rider);
}


/* gallery */

.gallery {
    background-image: url(../img/gallery-container-img.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.gallery__container {
    display: flex;
    justify-content: space-between;
    padding-top: 86px;
    padding-bottom: 70px;
    color: var(--color-white);
    min-height: 595px;
}

.gallery__left {
    flex-direction: column;
    width: 25%;
}

.gallery__title {
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 28px;
}

.gallery__filter {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 15px;
}

.choices__inner {
    position: relative;
    min-height: 40px;
    border-radius: 6px;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    font-size: 16px;
    line-height: 14px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.choices:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.choices__inner:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--single {
    padding-left: 7px;
}

.choices__list--dropdown {
    border: 0;
    background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: rgba(255, 255, 255, 0.2);
}

.is-open .choices__inner,
.is-focused .choices__inner {
    border-radius: 6px;
    border-color: var(--color-white);
}

.choices__list--dropdown .choices__item {
    color: var(--color-nobel);
    border: 1px solid var(--color-nobel);
    border-top: 0;
}

.choices__list--dropdown .choices__item:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.choices__list--dropdown .choices__item:last-child {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.choices[data-type*=select-one]:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 13px;
    height: 7px;
    width: 7px;
    border: 0;
    border-left: 1px solid var(--color-white);
    border-bottom: 1px solid var(--color-white);
    pointer-events: none;
    transform: rotate(-45deg) translateY(-50%);
}

.choices[data-type*=select-one].is-open:after {
    margin-top: 0;
    right: 16px;
    border-color: var(--color-white);
    transform: rotate(135deg);
}

.gallery__checkbox {
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
}

.gallery__label {
    position: relative;
    cursor: pointer;
    padding-left: 19px;
    margin-bottom: 16px;
    transition: color .3s ease-in-out;
}

.gallery__input {
    opacity: 0;
    height: 0;
    width: 0;
}

.gallery__checkmark {
    transition: color .3s ease-in-out;
}

.gallery__checkmark::after {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    top: 1px;
    left: 0;
    border: 1px solid var(--color-white);
    border-radius: 3px;
    transition: border-color .3s ease-in-out;
}

.gallery__checkmark::before {
    content: '';
    position: absolute;
    background-color: var(--color-wisteria);
    width: 4px;
    height: 4px;
    top: 5px;
    left: 4px;
    opacity: 0;
    border-radius: 100%;
    transition: opacity .3s ease-in-out;
}

.gallery__input:focus-visible+.gallery__checkmark::after {
    border-color: var(--color-wisteria);
}

.gallery__input:focus-visible+.gallery__checkmark {
    color: var(--color-wisteria);
}

.gallery__input:checked+.gallery__checkmark {
    color: var(--color-wisteria);
}

.gallery__input:checked+.gallery__checkmark::before {
    opacity: 1;
}

.gallery__input:checked+.gallery__checkmark::after {
    border-color: var(--color-wisteria);
}

.gallery__label:hover .gallery__checkmark::after {
    border-color: var(--color-wisteria);
}

.gallery__right {
    position: relative;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 9px;
    padding-left: 3px;
    width: 72%;
    height: auto;
}

.swiper-button-next,
.swiper-button-prev {
    width: 0;
    height: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.gallery-button {
    display: flex;
    align-items: center;
    padding: 19px 0;
    padding-left: 3px;
}

.gallery-button__prev,
.gallery-button__next {
    position: static;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.gallery-button__prev {
    margin-right: 18px;
}

.gallery-button__pagination {
    position: relative;
    display: inline-block;
    margin-right: 18px;
    width: auto;
    color: var(--color-white);
    font-size: 16px;
    line-height: 32px;
}

.swiper-button-prev:focus,
.swiper-button-next:focus {
    outline: none;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

.gallery-button__next.swiper-button-disabled,
.gallery-button__prev.swiper-button-disabled {
    opacity: 0.5;
}

.swiper-button-gray__background {
    transition-property: fill, stroke;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.swiper-button-gray:focus .swiper-button-gray__background {
    stroke: var(--color-black);
}

.swiper-button-gray:active .swiper-button-gray__background {
    fill: var(--color-studio);
    stroke: var(--color-black);
}

.gallery-swiper-slide {
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;
}

.gallery-swiper-slide__img {
    width: 100%;
}

.gallery-swiper-slide::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 2px solid var(--color-mauve);
    opacity: 0;
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    transition: opacity 0.3s ease-in-out;
}

.gallery-swiper-slide:active::before {
    opacity: 1;
}

.gallery-swiper-slide::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 86%;
    height: 86%;
    background-image: url(../img/gallery_slide_hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
}

.gallery-swiper-slide:focus::after {
    z-index: 2;
    opacity: 1;
}

.gallery-swiper-slide:focus {
    outline: none;
}

.gallery-swiper-slide:hover::after {
    z-index: 2;
    opacity: 1;
}


/* catalog */

.catalog__container {
    padding-top: 86px;
    padding-bottom: 80px;
}

.catalog__title {
    font-size: 48px;
    margin-bottom: 20px;
}

.catalog__text {
    max-width: 1080px;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 38px;
}

.catalog__content {
    display: flex;
    justify-content: space-between;
}

.catalog__left {
    width: 47%;
}

.catalog__artist {
    display: none;
}

.catalog__artist--visible {
    display: block;
}

.catalog__img {
    margin-bottom: 28px;
}

.catalog__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--color-night-rider);
    margin-bottom: 9px;
}

.catalog__date {
    display: block;
    font-size: 12px;
    margin-bottom: 15px;
}

.catalog__descr {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 15px;
}

.catalog__right {
    width: 50%;
}

.catalog-accordion__list {
    column-count: 3;
    padding-top: 27px;
    min-height: 340px;
}

.catalog-accordion__title {
    position: relative;
    font-weight: 600;
    font-size: 24px;
    padding: 43px 0 44px;
    background: transparent;
    margin: 0;
    border: none;
    border-top: 1px solid var(--color-vl-grey);
    border-bottom: 1px solid var(--color-vl-grey);
    margin-bottom: -1px;
    transition: border-color .3s ease-in-out;
    cursor: pointer;
    outline: none;
}

.ui-state-focus {
    border-color: var(--color-amethyst);
    z-index: 1;
}

.ui-state-hover {
    border-color: var(--color-wisteria);
    z-index: 1;
}

.ui-state-active {
    border-color: var(--color-wisteria);
    z-index: 1;
    color: var(--color-studio);
}

.catalog-accordion__title::after {
    content: '';
    position: absolute;
    top: 47%;
    right: 18px;
    width: 12px;
    height: 12px;
    border-bottom: 1px solid var(--color-black);
    border-right: 1px solid var(--color-black);
    transform: translateY(-50%) rotate(45deg);
    transition: transform 0.3s ease-in-out;
}

.ui-state-active.catalog-accordion__title::after {
    transform: rotate(225deg);
}

.ui-state-active.catalog-accordion__title::before {
    background-color: var(--color-wisteria);
    border: 2px solid var(--color-amethyst);
}

.catalog-accordion__title::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--color-whisper);
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.catalog-accordion__title:hover::before {
    background-color: var(--color-wisteria);
}

.catalog-accordion__artist {
    outline: none;
    line-height: 32px;
    text-align: left;
    transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.catalog-accordion__btn--active {
    color: var(--color-amethyst);
}

.catalog-accordion__artist:focus-visible {
    color: var(--color-white);
    background-color: var(--color-amethyst);
}

.catalog-accordion__artist:hover {
    color: var(--color-amethyst);
    border-bottom: 1px solid var(--color-amethyst);
}

.catalog-accordion__artist:active {
    color: var(--color-black);
    border: none;
}

.catalog-accordion__content {
    display: flex;
    align-items: center;
    height: 239px;
}

.catalog-accordion__left {
    position: relative;
    border: 2px solid var(--color-nobel);
    width: 33%;
    height: 189px;
    margin-right: 24px;
}

.catalog-accordion__left::before {
    content: '';
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    background-color: var(--color-nobel);
}

.catalog-accordion__right {
    max-width: 35%;
}

.catalog-accordion__subtitle {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-night-rider);
    margin-bottom: 5px;
}

.catalog-accordion__text {
    font-size: 16px;
    line-height: 22px;
    color: var(--color-night-rider);
    margin-bottom: 5px;
}

.catalog-accordion-link {
    font-weight: 600;
    font-size: 16px;
    color: var(--color-amethyst);
}


/* events */

.events-sliders {
    position: relative;
}

.events__title {
    font-size: 48px;
    color: var(--color-night-rider);
    margin-bottom: 22px;
}

.events-swiper-container {
    padding-right: 10px;
}

.events-swiper-slide {
    border: 1px solid var(--color-vl-grey);
    height: auto;
}

.events-button__prev {
    transform: rotate(180deg);
    top: 50%;
    left: -25px;
    width: 50px;
    height: 50px;
}

.events-button__next {
    top: 50%;
    right: -25px;
    width: 50px;
    height: 50px;
}

.svg-btn-style svg {
    border-radius: 100%;
    transition: border-color .3s ease-in-out, fill .3s ease-in-out;
}

.svg-btn-style:focus-visible svg {
    border: 2px solid var(--color-amethyst);
}

.svg-btn-style:hover svg {
    fill: var(--color-mauve);
    transition: fill 3s ease-in-out;
}

.svg-btn-style svg:active {
    border: 2px solid var(--color-amethyst);
}

.events__descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 335px;
    padding: 13px 50px 48px 50px;
}

.events__place {
    max-width: 145px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-nobel);
    margin-bottom: 13px;
}

.events__subtitle {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-night-rider);
    margin-bottom: 13px;
}

.events__text {
    font-size: 16px;
    line-height: 32px;
    color: var(--color-night-rider);
    overflow-y: auto;
}

.events__link {
    margin-top: auto;
    color: var(--color-amethyst);
    border-bottom: 1px solid var(--color-amethyst);
    outline: none;
    padding: 2px 5px;
    transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.events__link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: border-color .3s ease-in-out;
}

.events__link:focus-visible::before {
    border: 1px solid var(--color-amethyst);
}

.events__link:focus-visible {
    background-color: var(--color-amethyst);
    color: var(--color-white);
}

.events__link:hover {
    color: var(--color-studio);
}

.events__link:active {
    color: var(--color-night-rider);
    border-color: var(--color-night-rider);
}

.events-button-pagination {
    display: none;
}


/* projects */

.projects__container {
    padding-top: 88px;
    padding-bottom: 76px;
}

.projects__title {
    font-size: 48px;
    font-weight: 400;
    color: var(--color-night-rider);
    margin-bottom: 18px;
}

.projects__text {
    max-width: 1080px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: var(--color-night-rider);
    margin-bottom: 23px;
}

.projects-tooltip {
    display: inline-block;
    position: relative;
}

.projects-tooltip svg {
    cursor: pointer;
}

.projects-tooltip svg:hover {
    fill: var(--color-mauve);
}

.projects-tooltip__text {
    position: absolute;
    width: 150px;
    top: -35px;
    left: -75px;
    background-color: var(--color-wisteria);
    color: var(--color-white);
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.projects-tooltip svg:hover+.projects-tooltip__text {
    opacity: 1;
}

.projects__text-link {
    outline: none;
    color: var(--color-amethyst);
    transition: border-color .3s ease-in-out, background-color .3s ease-in-out, color .3s ease-in-out;
}

.projects__text-link:focus-visible {
    background-color: var(--color-amethyst);
    color: var(--color-white);
}

.projects__text-link:hover {
    border-bottom: 1px solid var(--color-amethyst);
}

.projects__text-link:active {
    color: var(--color-studio);
    border-color: var(--color-studio);
}

.projects__subtitle {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-night-rider);
    margin-bottom: 24px;
}

.projects-sliders {
    position: relative;
}

.projects-swiper-container {
    margin: 0 auto;
    padding: 0 15px;
    width: 92%;
}

.projects-sliders__button-prev {
    top: 53%;
    left: 0;
    width: 30px;
    height: 30px;
}

.projects-sliders__button-next {
    top: 53%;
    right: 0;
    width: 30px;
    height: 30px;
}

.projects-swiper-slide__img {
    filter: grayscale(100%);
}

.projects-swiper-slide__img:hover {
    filter: grayscale(0%);
}


/* contacts */

.contacts {
    border-top: 1px solid var(--color-vl-grey);
}

.contacts__top {
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 34px;
}

.contacts__title {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-night-rider);
    margin-bottom: 9px;
}

.address {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-night-rider);
}

.contacts-form {
    align-items: center;
    justify-content: space-between;
}

.contacts-form__label {
    position: relative;
}

.js-validate-error-label {
    position: absolute;
    top: -20px;
    left: 37px;
}

.contacts-form__input {
    margin-right: 20px;
    border: 1px solid var(--color-night-rider);
    border-radius: 100px;
    padding: 15px 38px 15px 37px;
    transition: background-color .3s ease-in-out;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-nobel);
    outline: none;
}

.contacts-form__input:hover {
    background-color: var(--color-whisper);
}

.contacts-form__input:focus-visible {
    background-color: var(--color-whisper);
}

.contacts-form__btn {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-amethyst);
    border: 2px solid var(--color-amethyst);
    background-color: var(--color-white);
    border-radius: 100px;
    padding: 14px 55px 14px 40px;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.contacts-form__btn:focus-visible {
    outline: 2px solid var(--color-amethyst);
    outline-offset: 2px;
}

.contacts-form__btn:hover {
    background-color: var(--color-amethyst);
    color: var(--color-white);
}

.contacts-form__btn:active {
    background-color: var(--color-studio);
    border-color: var(--color-mauve);
}

.contacts-messengers__title {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-night-rider);
    margin-bottom: 6px;
    padding-top: 5px;
}

.messengers__wtsp {
    margin-right: 17px;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

.messengers__telegramm {
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

.messengers__wtsp:hover {
    opacity: .5;
}

.messengers__telegramm:hover {
    opacity: .5;
}

.contacts__bottom {
    height: 700px;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}


/* footer */

.footer {
    background-color: var(--color-black);
}

.footer__container {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-social__ok path,
.footer-social__vk path {
    transition: fill .3s ease-in-out;
}

.footer-social__vk {
    outline: none;
    margin-right: 20px;
}

.footer-social__ok {
    outline: none;
}

.footer-social__vk:focus-visible svg path {
    fill: var(--color-white);
}

.footer-social__ok:focus-visible svg path {
    fill: var(--color-white);
}

.footer-social__vk svg:hover path {
    fill: var(--color-wisteria);
}

.footer-social__ok svg:hover path {
    fill: var(--color-wisteria);
}

.footer-social__vk svg:active path {
    fill: var(--color-amethyst);
}

.footer-social__ok svg:active path {
    fill: var(--color-amethyst);
}


/* modals */

.gallery-modals {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.gallery-modals__item {
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-black);
    background-color: var(--color-white);
    display: none;
}

.gallery-modals--visible {
    opacity: 1;
    visibility: visible;
    transition: all .3s ease-in-out;
    z-index: 10;
}

.modals--visible {
    display: flex;
}

.gallery-modals__left {
    height: 100%;
}

.gallery-modals__right {
    color: var(--color-black);
    background-color: var(--color-white);
    max-width: 500px;
    padding: 120px 50px 20px;
    height: 100%;
}

.gallery-modals__title {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-night-rider);
    margin-bottom: 5px;
}

.gallery-modals__subtitle {
    font-weight: 600;
    font-size: 16px;
    color: var(--color-night-rider);
}

.gallery-modals__date {
    display: block;
    margin-bottom: 40px;
}

.gallery-modals__text {
    max-width: 400px;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-night-rider);
}

.gallery-modals__btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
}